  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="javascripts/getparam.js"></script>
  <script type="text/javascript" src="javascripts/removediacritics.js"></script>
  <script type="text/javascript" src="javascripts/getjson.js"></script>
  <script type="text/javascript" src="javascripts/thislab.js"></script>
  <link rel="stylesheet" href="http://code.praqma.com/css/praqmacode.css">
